body {
	background-color: #fff;
	animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}


.container {
	height: 95rem;
	background-image: url(mountain.jpeg);
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
.topnav {
	overflow: hidden;
	background-color: #323232;
	opacity: 0.8;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 23px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Alegreya SC';
}

.topnav a:hover {
	opacity: 0.8;
	background-color: #d2ff18;
	color: black;
}

.topnav .icon {
	display: none;
}
.topnav .icon:hover {
	background-color: black;
}

.logo {
	opacity: 0.4; 
	margin-left: 28rem;
	display: block;
	margin-top: 10px;
}

blockquote {
	text-align: center;
	color: #000;
	font-family: 'Zilla Slab';
	font-size: 18px;
	letter-spacing: 2px;
	line-height: calc(20px + 2vw);
}

.box {
	height: 550px;
	max-width: 500px;
	margin-top: 3rem;
	margin-left: 5rem;
}

.box #articles {
	color: #000;
	text-align: justify;
	font-family: 'Cormorant';
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 20px;
}

hr {
	width: 90%;
	height: 3px;
	font-weight: 700;
	background-color: #000;
	border: none;
}

#mypic {
	border-radius: 20px;
	width: 300px;
	position: absolute;
	top: 46.5rem;
	left: 48rem;
}

footer {
	font-family: 'Alegreya SC';
	color: #f5e9f3;
	text-align: center;
	font-size: 20px;
	width: 100%;
	min-height: 250px;
}

.copyright {
	letter-spacing: 2px;
}
.text {
	line-height: 30px;
	letter-spacing: 1px;
}

.fa {
	border-radius: 38px;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	font-size: 65px;
  	width: 50px;
  	text-align: center;
  	text-decoration: none;
  	margin-left: 6vw;
 	margin-top: 2vw;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
  	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.container {
		height: 88rem;
	}
	blockquote {
		font-size: 15px;
	}
	.logo {
		display: none;
	}
	.box {
		margin-left: 0rem;
	}
	.box #articles {
		padding-left: 5px;
		padding-right: 10px;
		font-size: 16px;
	}
	.fa {
		position: relative;
 		left: 0rem;
	}
	#mypic {
		position: absolute;
		top: 45.5rem;
		left: 5rem;
	}
	footer {
		opacity: 0.8;
		position: relative;
		top: 18rem;
	}
}

